.passengers-container{

    margin: 20px 0;
    padding: 15px;
    border: solid 0.1rem;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 #a7acc59e;
    border: 0;
    background: #F7F8FE;

    &__passenger{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
}