.passenger-item{
/*     margin-bottom: 10px;
    background-color: #F7F8FE;
    box-shadow: 0 3px 6px 0 rgba(167, 172, 197, 0.5);
    padding: 17px 0 0;
    z-index: 1;
    position: relative;
    border-radius: 8px;
    border: 1px solid transparent; */
}