/*Variables*/
:root {
  --main-color-background: #eaeae9;
  --main-color-box-shadow: #a7acc59e;
  --main-color-blue: #0a5da6;
  --main-color-red: #ee2c35;
  --main-color-gray-text: #6d6e71;
  --main-color-background-disabled:#f2f2f2;
}
